.headbar{
    display:flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: center;
    color:var(--fblack);
    font-family: var(--titleFont);
    font-weight: bold;


}
.titleBar{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 12px 0;
}
.chen{
    font-size: 24pt;
    letter-spacing: 1px;
    padding-left: 48px;
    color:var(--fgrey);

}
.title{
    position: relative;
    top:24px;
    font-size: 48pt;
    letter-spacing: 1px;
}
.bar{
    width:100%;
    border-style:solid;
    border-width: 0px 0 1px 0;
    display: inline-flex;
    flex-direction: row;
    padding: 2px 0;
    border-color:var(--fgrey);
    justify-content: flex-end;


}
.bar > *{
    padding: 0 0 4px 64px;
    font-size: 18px;
    /*border-width: 0 1.5px 0 0;*/
    letter-spacing: 1px;
    font-weight: bold;


}
/************************************* Current page **************************************************************/
/*.current_container{*/
/*    display: grid;*/
/*    padding: 72px 0;*/
/*    grid-template-columns: 49% 49%;*/
/*    grid-template-rows: max-content max-content;*/
/*    row-gap: 72px;*/
/*    column-gap: 2%;*/
/*}*/
.current_container{
    display: flex;
    padding: 72px 0;
    flex-wrap:wrap;
}

.current_container ul{
    /*background: green;*/
    padding: 2px 2px;
    text-align: justify;
    list-style: None;
    font-weight: bold;
    font-size: 16pt;

}

.current_container li{
    margin: 8px 0 0 0;
    line-height: 18pt;
    font-weight: 400;
    font-size: 14pt;

}
.br{
    font-family: var(--titleFont);
    font-size: 32pt;
    letter-spacing: 1px;
    /*text-align: left;*/
    font-weight: bold;
    margin: 8px 0;
}

.img{
    width: 50%;
}

.des{
    width:45%;
    margin:48px auto;
}

.img img{
  position: relative;
    margin:56px 4% 40px 4%;
  width: 92%;
  min-width: 240px;
  /* margin-left: 15vw; */

}
.bomb img{
    width: 40%;
}
.artodoimg{
    width: 50%;
}
 .artodoimg img{
     position: relative;
  width: 40%;
     margin-right:32px ;
  min-width: 100px;
 }

 @media (max-width: 1500px) {
  .title {
      font-size: 40pt;
  }
     artodoimg img{
         width:50%
     }
}
 @media (max-width: 800px) {
  .title {
      font-size: 24pt;
      top:0;
      text-align: center;
  }
     artodoimg img{
         width:50%
     }
     .current_container{
    grid-template-columns: 100%;
    row-gap: 36px;
}
     .des{
         width: 90%;
         margin:12px auto;

     }
     .img{
         width: 100%;
     }
     .img img{
         margin:12px auto;

     }
     .des2{
         grid-column: 1;
         grid-row:
     }
     .artodoimg{
         width:100%
     }
}
@media (max-width: 500px){
    .br{
        font-size: 24pt;
    }
}


