.headbar{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--fblack);
    font-family: var(--titleFont);
    font-weight: bold;
}

.title{
    width: 100%;
    font-size: 48pt;
    letter-spacing: 2px;
    margin-top:16px;
    text-align: left;
}
.notChosen{
    font-size:14pt;
}
.chosen{
    text-decoration: none;
    color: #96959F;
    font-size:14pt;
    font-weight: 800;

}
.bar{
    width:100%;
    border-style:solid;
    border-width: 0px 0 1px 0;
    display: inline-flex;
    flex-direction: row;
    padding: 2px 0;
    justify-content: flex-end;


}
.bar > *{
    padding: 0 0 4px 64px;
    letter-spacing: 1px;


}
/************************************* Current page **************************************************************/
/*.current_container{*/
/*    display: grid;*/
/*    padding: 72px 0;*/
/*    grid-template-columns: 49% 49%;*/
/*    grid-template-rows: max-content max-content;*/
/*    row-gap: 72px;*/
/*    column-gap: 2%;*/
/*}*/
.current_container{
    display: flex;
    padding: 72px 0;
    flex-wrap:wrap;
}
.current_container >*{
    margin-bottom: 60px;
}

.current_container ul{
    /*background: green;*/
    padding: 2px 2px;
    text-align: justify;
    list-style: None;
    font-weight: bold;
    font-size: 16pt;

}

.current_container li{
    margin: 8px 0 0 0;
    /*line-height: 18pt;*/
    font-weight: 400;
    font-size: 14pt;

}
.br{
    font-family: var(--titleFont);
    font-size: 32pt;
    letter-spacing: 1px;
    /*text-align: left;*/
    font-weight: bold;
    margin: 8px 0;
}

.img{
    width: 50%;
}

.des{
    width:45%;
    padding: 0 2.5%;
    /*margin:0px auto 24px auto;*/
}

.img img{
  position: relative;
    margin:56px 4% 40px 4%;
  width: 92%;
  min-width: 240px;
  /* margin-left: 15vw; */

}
.bomb img{
    width: 40%;
}
.artodoimg{
    width: 50%;
}
 .artodoimg img{
     position: relative;
  width: 40%;
     margin: 0 16px ;
  min-width: 100px;
 }
 .treeWrapper{
     width:80vw;
     height :50vh;

 }
 .tree{
     margin: 0 10vw;
     background: #A6A297;
 }
 /* custom-tree.css */

.node__root > circle {
  fill: #3D70D4;
    stroke:None;
    r: 35;

}

.node__branch > circle {
  fill: #91BBED;
    stroke: None;
    r:30
}

.node__leaf > circle {
  fill: #C8DBEE;
  stroke: None;
  /* Let's also make the radius of leaf nodes larger */
}


 @media (max-width: 1500px) {
  .title {
      font-size: 40pt;
  }
     artodoimg img{
         width:50%
     }
}
 @media (max-width: 900px) {
    .br{
        font-size: 26pt;
    }
}

 @media (max-width: 800px) {
  .title {
      font-size: 24pt;
      text-align: center;
  }

     .bar{
    justify-content: center;
}
     .bar > *{
    font-size: 16px;
    padding: 4px 12px;

}
     artodoimg img{
         width:50%
     }
     .current_container{
    grid-template-columns: 100%;
    row-gap: 36px;
}
     .des{
         width: 90%;
         margin:12px auto;

     }
     .img{
         width: 100%;
     }
     .img img{
         margin:12px auto;

     }

     .artodoimg{
         width:100%
     }
}
@media (max-width: 500px){
    .title {
      font-size: 20pt;
      top:0;
      text-align: center;
  }
    .br{
        font-size: 24pt;
    }

.bar > *{
    font-size: 12px;
    padding: 4px 12px;

}
}
@media (max-width: 250px){
    .title {
      font-size: 20pt;
      top:0;
      text-align: center;
  }
    .br{
        font-size: 24pt;
    }

.bar > *{
    font-size: 10px;
    padding: 4px 12px;

}
}


